@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


.container{
    max-width: 1204px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* Selectning umumiy fonini to‘q kulrang */
.custom-select .ant-select-selector {
  background-color: #0f172a !important; /* to‘q kulrang fon */
  border: 2px solid crimson !important; /* qizil border */
  color: white !important; /* text oq bo‘lsin */
}

/* Placeholder qizil bo‘lsin */
.custom-select .ant-select-selection-placeholder {
  color: crimson !important;
  font-weight: 500;
}

/* Dropdown ham chiroyli bo‘lsin */
.custom-select .ant-select-dropdown {
  background-color: #1e1e1e !important; /* qora fon */
  color: white !important;
}


/* Selectning umumiy fonini to‘q kulrang */
.custom-select .ant-select-selector {
  background-color: #0f172a !important; /* to‘q kulrang fon */
  border: 2px solid crimson !important; /* qizil border */
  color: white !important; /* text oq bo‘lsin */
}

/* Placeholder qizil bo‘lsin */
.custom-select .ant-select-selection-placeholder {
  color: crimson !important;
  font-weight: 500;
}

/* Dropdown ham chiroyli bo‘lsin */
.custom-select .ant-select-dropdown {
  background-color: #1e1e1e !important; /* qora fon */
  color: white !important;
}
